*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-items: center;
}

.frame{
    width: 400px;
    height: 400px;
   
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: #3FAF82;
    color: #fff;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}