*{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: grid;
    place-content:center;
    background-color: hsl(48,18%,83%);
}

.examples{
    padding: 3rem;
    max-width: 1200px;
    display: flex;
    gap: clamp(2rem, 8vw, 4rem);
}

button{
    background-color: transparent;
    border-radius: 1rem;
    border: 10px solid var(--button-color, #000);
    cursor: pointer;
}

/*  Button one  */

.button-one{
    --button-color:#333;
}
.button-one .line{
    transition: 
        y 300ms ease-in 300ms,
        rotate 300ms ease-in,
        opacity 0ms 300ms;
    transform-origin: center;
}
.button-one:hover .line{
    transition: 
        y 300ms ease-in,
        rotate 300ms ease-in 300ms,
        opacity 0ms 300ms;
   
}
.button-one:hover :is(.top, .bottom){
    y:45;
}
.button-one:hover .top{
    rotate:45deg;
}
.button-one:hover .middle{
    opacity: 0;
}
.button-one:hover .bottom{
    rotate:-45deg;
}

/*  Button two */
.button-two{
    --button-color:#232
}
.button-two .line{
   animation: to-open-icon 1s forwards;
}
.button-two:hover .line{
    animation:to-close-icon 1s forwards;
}

.button-two .line.top{
    --rotation:-45deg;
    transform-origin: 65px 45px;
}
.button-two .line.bottom{
    --rotation:45deg;
    transform-origin: 60px 55px;
}

@keyframes to-close-icon {
    0%{ stroke-dashoffset: 0;}
    40%{ stroke-dashoffset: 79.9;}
    60%{stroke-dashoffset: 79.9; rotate: var(--rotation);}
    100%{stroke-dashoffset: 0; rotate: var(--rotation);}
}

@keyframes to-open-icon {
    0%{ stroke-dashoffset: 0; rotate: var(--rotation);}
    40%{ stroke-dashoffset: 79.9; rotate: var(--rotation);}
    60%{stroke-dashoffset: 79.9; }
    100%{stroke-dashoffset: 0; }
}

/** Button three **/
.button-three{
    --button-color:black;
    
}

.button-three:hover .line.middle{
    translate: 100px;
    transition: translate 1s;
}
.button-three:hover .line.top{
    rotate: 45deg;
    transform-origin: 30px 45px;
    stroke-dashoffset: 0;
    transition:rotate 1s ease-in 0.15s,
    stroke-dashoffset 0.5s ease-in 0.25s;
}
.button-three:hover .line.bottom{
    rotate: 315deg;
    transform-origin: 20px 50px;
    stroke-dashoffset: 0;
    transition:rotate 1s ease-in 0.15s,
    stroke-dashoffset 0.5s ease-in 0.25s;
}

.button-three .line.middle{
    translate: 0px;
    transition: translate 1s ease-in 0.15s;
}
.button-three .line.top{
    rotate: 180deg;
    transform-origin: 35px 30px;
    stroke-dashoffset: 30;
    transition:
    rotate 1s ease-in 0s,
    stroke-dashoffset 0.5s ease-in 0.15s;
}
.button-three .line.bottom{
    rotate: -180deg;
    transform-origin: 30px 70px;
    stroke-dashoffset: 40;
    transition: rotate 1s ease-in 0s,
    stroke-dashoffset 0.5s ease-in 0.15s;
}